* {
    margin: 0;
    padding: 0;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.calculator {
    background-color: #ecf0f1;
    width: 350px;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
    grid-gap: 15px;
    margin: 20 auto;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.calculator div:not(div.display) {
    background-color: #bdc3c7;
    border-radius: 25%;
    display: grid;
    place-items: center;
    font-size: 2rem;
}

.calculator .display {
    grid-column: 1/5;
    background-color: #ecf0f1;
    display: grid;
    place-items: center;
    border-radius: 20px;
    position: relative;
}

.calculator .display p {
    font-size: 3em;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.calculator div {
    -webkit-box-shadow: -5px 0px 10px 2px rgba(224,224,224,1);
    -moz-box-shadow: -5px 0px 10px 2px rgba(224,224,224,1);
    box-shadow: -5px 0px 10px 2px rgba(224,224,224,1);
}