* {
    margin: 0;
    padding: 0;
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
}

.calculator {
    background-color: #ecf0f1;
    width: 350px;
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 15px;
    margin: 20 auto;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

.calculator div:not(div.display) {
    background-color: #bdc3c7;
    border-radius: 25%;
    display: grid;
    place-items: center;
    font-size: 2rem;
}

.calculator .display {
    grid-column: 1/5;
    background-color: #ecf0f1;
    outline: 1px solid black;
}


